#container {
  width: 300px;
  height: 250px;
}

#message {
  top: 8px;
  left: 20px;
  width: 260px;
}

#message h1 {
  font-size: 1.8em;
  line-height: 1.05em;
  text-align: left;
}

#message h1 a {
  display: inline-block;
  margin-top: 2px;
  font-size: 1.1em;
}

#message #content {
  width: 140px;
  margin-top: -10px;
  font-size: 0.9em;
  line-height: 1.15em;
  color: rgba(255, 255, 255, 0.9);
}

#image {
  top: 57px;
  left: 162px;
  width: 127px;
}

#call-to-action {
  top: 190px;
  left: 19px;
  width: 120px;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  font-size: 1.05em;
  text-align: center;
}
