extends base

block content
  
  #section0.section.single
    .container
      .box
        h1 404
        br
        | Page not found
    
block styles
  include ../public/styles/css/default.css
  include ../public/styles/css/default-content.css
