extends base

block content
  
  #section0.section.single
    .container
      .box
        h1 Privacy policy
        br
        | Linkbox is a communication platform that provides web tools management, email synchronization and other services to make the user work easier. Our Privacy Policy helps explain the way we handle information including what information we collect and how this affects you. 
        br
        | When we refer to “Linkbox,” “our,” “we,” or “us,” we’re talking about Linkbox S.A.P.I. This Privacy Policy (“Privacy Policy”) applies to all of our apps, services, features, software, and website (together, “Services”) unless specified otherwise.
        br
        br
        h2 Information we collect
        | Linkbox receives or collects information when we operate and provide our Services, including when you install, access, or use our Services.
        h3 Information You Provide
        ul
          li
            b Account information:
            | You provide your email address and password to create a Linkbox account, the last one (password) is stored locally on your device, so we can’t Access to it. You may also add other information to your account, such as a profile name and profile picture.
          li
            b Email information:
            | When you link your email accounts to Linkbox, you give Linkbox permission to securely access your information contained in or associated with those accounts. While Linkbox only store your password locally to these email accounts, the service may securely store some emails on a temporary basis in order to deliver them to you as quickly as possible and keep track of your deferred messages.
          li
            b Services integrations:
            | If you integrate with a third-party service, we will connect that service to ours. The third-party provider of the integration may share certain information about your Linkbox account. However, we do not receive or store your passwords for any of these third-party services.
          li
            b Messages information:
            | Linkbox uses two ways channels of communication to enrich the user experience. Email information (See above) and Message Information. When Linkbox communicate with messages, they are retained temporally until they are delivered which means that once your messages (including your chats, photos, videos, voice messages, files, and share location information) are delivered, they are deleted from our servers. Your messages are stored on your own device. If a message cannot be delivered immediately (for example, if you are offline), we may keep it on our servers for up to 30 days as we try to deliver it. If a message is still undelivered after 30 days, we delete it. To improve performance and deliver media messages more efficiently, such as when many people are sharing a popular photo or video, we may retain that content on our servers for a longer period of time.
          li
            b Contacts information:
            | Linkbox may retain your contacts information only if they are included in a team/group object this is done to facilitate the synchronization of information in different devices.
        h3 Automatically Collected Information
        ul
          li
            b Services usage information: 
            | We collect service-related, diagnostic, and performance information. This may include administrative and support communications with us and information about your activity (such as how you use our Services, how you interact with others using our Services, and the like), log files, and diagnostic, crash, website, and performance logs and reports.
          li
            b Device and Connection Information: 
            | We collect device-specific information when you install, access, or use our Services. This includes information such as hardware model, operating system information, browser information, IP address, mobile network information including phone number, and device identifiers.
          li
            b Cookies: 
            | Cookies are alphanumeric identifiers that are transferred to your computer or mobile device from your browser. We use cookies to facilitate your browsing experience. Thanks to them, you do not have to retype your login and password when you connect to your profile for example. They simplify your visit and enhance the dialog ergonomics. You can refuse the installation of technical cookies in your browser settings. However, this refusal could prevent you from using the services offered on the Website.
        h2 Recipients of the collected data
        | Only our personnel, the services in charge of control (especially: external auditor) and trusted third-party applications may have access to your personal data. Government agencies may also be recipients of your personal data, exclusively to meet legal obligations, or representatives of the law, ministerial officers and organizations responsible for the collection of debts.
        br
        | We shall not sell, transfer or lease out your personal data to third parties.
        br
        br
        h2 Security
        | Security is really important to us. We use industry leading security practices to preserve the integrity of all your Linkbox data. For example, when you transmit sensitive information and when you send and receive emails, Blue Mail encrypts the transmission of that information using secure socket layer technology (SSL). However, no method of electronic transmission or storage is 100% secure, so we cannot guarantee absolute security. Linkbox is not responsible for the functionality or security measures of any third party.
        br
        br
        h2 Updates to our policy
        | We may modify or update this Privacy Policy from time to time to reflect the changes in our business and practices, We will provide you notice of amendments to this Privacy Policy, as appropriate, and update the “Last Modified” date at the bottom of this page. Your continued use of our Services confirms your acceptance of our Privacy Policy, as amended. If you do not agree to our Privacy Policy, as amended, you must stop using our Services. Last modified: September 26, 2017
        br
        br
        h2 Contact us
        | If you have any questions or comments about our policy, you can contact us at privacy@linkboxapp.com.

  
block ids
  script.
    var _pageName = "privacy";
    
block styles
  include ../public/styles/css/default.css
  include ../public/styles/css/default-content.css
  include ../public/styles/css/privacy.css
