extends base

block content
  
block ids
  script.
    var _pageName = "support";
    
block styles
  include ../public/styles/css/default.css
  include ../public/styles/css/default-content.css
  include ../public/styles/css/support.css