extends base

block content
  
  #section0.section.single
    .container
      .box
        h1 Terms of service
        br
        | Linkbox is a communication platform that provides web tools management, email synchronization and other services to make the user work easier. Our Privacy Policy helps explain the way we handle information including what information we collect and how this affects you. 
        br
        | When we refer to “Linkbox,” “our,” “we,” or “us,” we’re talking about Linkbox S.A.P.I. This Term of Service (Term of service”) applies to all of our apps, services, features, software, and website (together, “Services”) unless specified otherwise.
        br
        br
        h2 Contact us
        | If you have any questions or comments about our policy, you can contact us at terms@linkboxapp.com.

block ids
  script.
    var _pageName = "terms";
    
block styles
  include ../public/styles/css/default.css
  include ../public/styles/css/default-content.css
  include ../public/styles/css/terms.css