@import "util.scss";

/**
* General
* ------------------------------ */

.section {
  min-height: 45em;
  padding-top: 6.5em;
  padding-bottom: 9em;
}

h1 {
  color: $primary-color;
  font-size: 4.4em;
  font-weight: bold;
  line-height: 0.95em;
}

h2 {
  margin: 0;
  font-size: 2em;
  text-align: left;
}

a {
  color: #888;
  text-decoration: underline;
}

@media (max-width: 481px) {
  .section {
    min-height: 36em;
  }
  h1 {
    font-size: 2.5em;
  }
}